*.deb
*\.deb
*.py[co]
*.mo
.ropeproject
backend/.env
backend/.ropeproject
backend/estate168/settings/chefenv.py
backend/estate168/static
build
ui
ui/.sass-cache
ui/.tmp
ui/app/bower_components
ui/app/styles/main.css
ui/app/styles/main.css.map
ui/dist
ui/node_modules
.idea
.env
*.sqlite3
*.DS_Store
MANIFEST
dist/*
