gevent-websocket==0.9.5
gevent==1.0.2
json-rpc==1.10.2
requests==2.8.1

# HTTP transport
flask==0.10.1

# gevent-websocket accelerators, recommended to increase performance
wsaccel==0.6.2
ujson==1.33
